<div class="container">
  <div class="row pr-4 pl-4 pt-4 pb-0">
    <% @cocktails.each do |cocktail| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <!-- <a href="#" class="btn btn-primary">See recipe</a> -->
      <%= link_to "See recipe", cocktail_path(cocktail)%>
    </div>
  </div>
  <% end %>
  </div>
</div>
