<div class="container mt-5">
<h1 class="text-center">Create a new cocktail!</h1>
<div class="new-form">
    <%= simple_form_for [@cocktail] do |f| %>
      <%= f.input :name, placeholder: "Write the name here..."%>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Add your cocktail', class:'btn btn-yellow' %>
    <% end %>
</div>
</div>
