.banner {
  background-size: cover;
  background-color: $dimgray;
  background-position: center;
  padding: 5px 0;
}

.banner h1 {
  margin: 0;
  color: $bluebrand;
  font-family: $title-font;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
}

.banner h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}




