.btn-yellow{
  background-color: $crayolayellow;
  color:$bluebrand;
  border: 1px solid #4A4A4A;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // width: 50%;
  text-align: center;
}

.btn-yellow:hover {
  transform: scale(1.1);
  text-decoration: none;
  transition: ease 0.5s;
}

.btn-yellow a:hover{
  text-decoration: none;
  color: white;
}

a{
  color: $bluebrand;
}

.btn-card{
  background-color: $crayolayellow;
  color:$bluebrand;
  border: 1px solid #4A4A4A;
  padding: 4px 16px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 50%;
  text-align: center;
}
.btn-card:hover {
  transform: scale(1.1);
  text-decoration: none;
  transition: ease 0.5s;
}

.btn-card a:hover{
  text-decoration: none;
  color: white;
}

