.btn-yellow{
  background-color: $crayolayellow;
  color:$accent;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  text-align: center;
}

.btn-yellow:hover {
  // transform: scale(1.1);
  text-decoration: none;
  transition: ease 0.5s;
}

.btn-yellow a:hover{
  text-decoration: none;
  color: white;
}

a{
  color: $accent;
}

.btn-card{
  background-color: $crayolayellow;
  color:$accent;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  width: 50%;
  text-align: center;
  font-size: 1rem;
}
.btn-card:hover {
  transform: scale(1.1);
  text-decoration: none;
  transition: ease 0.5s;
}

.btn-card a:hover{
  text-decoration: none;
  color: white;
}

