.card-body{
  text-align:center;
  // border: 2px solid $gray;
  // border-radius: 5px;
  width:100%;
  margin:0 auto;
}

.card-title{
  color:$bluebrand;
}

a:hover{
  text-decoration:none;
}

// .index-img{
//   width:100%;
//   height: 200px;
// }

// .card{
//   border: 3px solid $gray;
// }
