.card-body{
  text-align:center;
  border: 2px solid $gray;
  border-radius: 5px;
}

.card-title{
  color:$bluebrand;
}

a:hover{
  text-decoration:none;
}

// .card{
//   border: 3px solid $gray;
// }
