.card{
  border: 1px solid #0E0000;
  border-radius:5px;
  height:300px;
}
.card-body{
  text-align:center;
  // border: 2px solid $gray;
  // border-radius: 5px;
  width:100%;
  margin:0 auto;
}

.card-title{
  color:$bluebrand;
}

a:hover{
  text-decoration:none;
  color:blue;
}

.card-img{
  width:auto;
  height:50%;
}

